---
import { PROFILE } from "../config";
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 text-sm opacity-70">
  <div class="pb-2">
    &copy; {today.getFullYear()} {PROFILE.name}. All rights reserved.
  </div>
  <div class="inline">
    Built with
    <a href="https://astro.build" target="_blank" class="font-bold">Astro</a> &amp;
    <a href="https://tailwindcss.com" target="_blank" class="font-bold">Tailwind CSS</a>
  </div>
</footer>
<style></style>
